{
  "tabWidth": 2,
  "printWidth": 140,
  "endOfLine": "lf",
  "tailwindStylesheet": "./src/tailwind.css",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "semi": true,
        "singleQuote": true,
        "arrowParens": "always",
        "trailingComma": "all"
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
