{
  "tabWidth": 2,
  "printWidth": 100,
  "endOfLine": "lf",
  //  "tailwindStylesheet": "./src/tailwind.css",
  "tailwindStylesheet": ".src/styles.scss",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "semi": true,
        "singleQuote": true,
        "arrowParens": "always",
        "trailingComma": "all"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
