:root {
  --primary-50: #e6effc;
  --primary-100: #c0d7f7;
  --primary-200: #96bdf2;
  --primary-300: #6ba3ed;
  --primary-400: #4c8fe9;
  --primary-500: #2c7be5;
  --primary-600: #2773e2;
  --primary-700: #2168de;
  --primary-800: #1b5eda;
  --primary-900: #104bd3;
  --primary-a100: #ffffff;
  --primary-a200: #cedbff;
  --primary-a400: #9bb5ff;
  --primary-a700: #81a2ff;
  --primary-contrast-50: rgba(black, 0.87);
  --primary-contrast-100: rgba(black, 0.87);
  --primary-contrast-200: rgba(black, 0.87);
  --primary-contrast-300: rgba(black, 0.87);
  --primary-contrast-400: white;
  --primary-contrast-500: white;
  --primary-contrast-600: white;
  --primary-contrast-700: white;
  --primary-contrast-800: white;
  --primary-contrast-900: white;
  --primary-contrast-a100: rgba(black, 0.87);
  --primary-contrast-a200: rgba(black, 0.87);
  --primary-contrast-a400: rgba(black, 0.87);
  --primary-contrast-a700: rgba(black, 0.87);

  --accent-50: #e1faef;
  --accent-100: #b4f2d7;
  --accent-200: #82e9bd;
  --accent-300: #50e0a2;
  --accent-400: #2bd98e;
  --accent-500: #05d27a;
  --accent-600: #04cd72;
  --accent-700: #04c767;
  --accent-800: #03c15d;
  --accent-900: #01b64a;
  --accent-a100: #dfffea;
  --accent-a200: #acffc8;
  --accent-a400: #79ffa6;
  --accent-a700: #5fff95;
  --accent-contrast-50: rgba(black, 0.87);
  --accent-contrast-100: rgba(black, 0.87);
  --accent-contrast-200: rgba(black, 0.87);
  --accent-contrast-300: rgba(black, 0.87);
  --accent-contrast-400: white;
  --accent-contrast-500: white;
  --accent-contrast-600: white;
  --accent-contrast-700: white;
  --accent-contrast-800: white;
  --accent-contrast-900: white;
  --accent-contrast-a100: rgba(black, 0.87);
  --accent-contrast-a200: rgba(black, 0.87);
  --accent-contrast-a400: rgba(black, 0.87);
  --accent-contrast-a700: rgba(black, 0.87);

  --warn-50: #fce7eb;
  --warn-100: #f8c3cd;
  --warn-200: #f39bab;
  --warn-300: #ee7389;
  --warn-400: #ea5570;
  --warn-500: #e63757;
  --warn-600: #e3314f;
  --warn-700: #df2a46;
  --warn-800: #db233c;
  --warn-900: #d5162c;
  --warn-a100: #ffffff;
  --warn-a200: #ffd3d7;
  --warn-a400: #ffa0a8;
  --warn-a700: #ff8691;
  --warn-contrast-50: rgba(black, 0.87);
  --warn-contrast-100: rgba(black, 0.87);
  --warn-contrast-200: rgba(black, 0.87);
  --warn-contrast-300: rgba(black, 0.87);
  --warn-contrast-400: white;
  --warn-contrast-500: white;
  --warn-contrast-600: white;
  --warn-contrast-700: white;
  --warn-contrast-800: white;
  --warn-contrast-900: white;
  --warn-contrast-a100: rgba(black, 0.87);
  --warn-contrast-a200: rgba(black, 0.87);
  --warn-contrast-a400: rgba(black, 0.87);
  --warn-contrast-a700: rgba(black, 0.87);
}
