@use "styles/variables";
@use "styles/palette" as palette;
@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

$my-light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(palette.$primary-palette),
      accent: mat.define-palette(palette.$accent-palette, A200, A100, A400),
      warn: mat.define-palette(palette.$warn-palette),
    ),
    typography: mat.define-typography-config($font-family: theme("fontFamily.sans")),
    density: 0,
  )
);

$my-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400),
      warn: mat.define-palette(palette.$warn-palette),
    ),
  )
);

@include mat.all-component-themes($my-light-theme);
@include mat.all-component-typographies($my-light-theme);

body.dark {
  @include mat.all-component-colors($my-dark-theme);
}

html,
body {
  @apply h-full;
}

body {
  @apply m-0;
  @apply font-sans;
}
