@use "@angular/material" as mat;
@import "./tailwind.css";

@layer base {
  html {
    color-scheme: light dark;
    @include mat.theme(
      (
        color: mat.$azure-palette,
        typography: Roboto,
        density: -2,
      ),
      $overrides: (
        // Custom background and foreground colors for example purposes
        //surface: var(--color-slate-50),
         //on-surface: var(--mat-sys-primary)
      )
    );
  }

  // Uncomment this out to help debug
  // * {
  //   outline: solid 1px red;
  // }
  html,
  body {
    height: 100%;
    margin: 0;
  }
}
